<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.provatokenlab">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:name="com.provatokenlab.application.AppController"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">


        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

        <activity
            android:name="com.provatokenlab.splash.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <action android:name="com.provatokeblab.intent.action.OPEN_APP" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.provatokenlab.home.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.provatokenlab.moviedetail.MovieDetailActivity"
            android:label="@string/activity_movie_detail_label"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.provatokenlab.fail.FailActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
